[submodule "opencv"]
	path = opencv
	url = git@github.com:Goldfish9901-2/opencv.git
[submodule "opencv_contrib"]
	path = opencv_contrib
	url = git@github.com:Goldfish9901-2/opencv_contrib.git
[submodule "multibuild"]
	path = multibuild
	url = git@github.com:Goldfish9901-2/multibuild.git
[submodule "opencv_extra"]
	path = opencv_extra
	url = git@github.com:Goldfish9901-2/opencv_extra.git
